<div>
<img src="<%= @user.photo %>" class="user-img" alt="user profile picture"></img>
<div class="user-info">
    <p class="user-name"><%= @user.name %></p>
    <% if @user.postsCounter.nil? %>
      <p class="posts">Number of posts: 0</p>
    <% else %>
      <p class="posts">Number of posts: <%= @user.postsCounter %></p>
    <% end %>
    </div>
  </div>
  <div>
  <h3>Bio</h3>
  <p><%= @user.bio %></p>
  </div>
  <% @posts.each do |post| %>
    <div>
      <h3><%= post.title %></h3>
      <p><%= post.text %></p>
      <% if post.commentsCounter.nil? %>
        <p>Comments: 0</p>
      <% else %>
        <p>Comments: <%= post.commentsCounter %></p>
      <% end %>
      <% if post.likesCounter.nil? %>
        <p>Likes: 0</p>
      <% else %>
        <p>Likes: <%= post.likesCounter %> </p>
      <% end %>
    </div>
  <% end %>
  <button>See all posts</button>
</div>