<%= link_to user_post_path(post.author, post) do %>
  <div>
    <h3><%= post.title %></h3>
    <p><%= post.text %></p>
    <% if post.commentsCounter.nil? %>
      <p>Comments: 0</p>
    <% else %>
      <p>Comments: <%= post.commentsCounter %></p>
    <% end %>
    <% if post.likesCounter.nil? %>
      <p>Likes: 0</p>
    <% else %>
      <p>Likes: <%= post.likesCounter %> </p>
    <% end %>
  </div>
<% end %>