<h1>NewPost</h1>

<%= form_with model: post, url: new_post_form_path, method: :post, local: true, scope: :post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :text %><br>
    <%= form.text_field :text %>
  </div>

  <%= form.submit "Publish Post" %>
<% end %>